#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  justify-items: center;
  margin: 25px;

  img {
    margin: 15px 15px 10px 15px;
    width: 90%;
    height: auto;
  }

  .project {
    margin: 15px;
    text-align: center;
    position: relative;
    

    h3 {
      margin: 10px 0px 10px 0px;
    }
    
    ul, p {
      text-align: justify;
      margin-top: 10px;
    }
  }
}

#projects-title {
  margin: 25px;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 900px) {
  #projects {
    grid-template-columns: 1fr;
  }
}