$neon-blue:rgb(0, 217, 255);

header {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    -webkit-mask-image:-webkit-gradient(linear, top left, bottom left, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0));
  }

  h1 {
    position: absolute;
    top: 65%;
    right: 20%;
    z-index: 1;
  }

  p {
    position: absolute;
    top: 75%;
  }
}

hr {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 25px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 5px 2px $neon-blue;
}

.introduction {
  p {
    text-indent: 25px;
    padding: 25px;
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
  }

  .introText {
    padding: 10px 25px 10px 25px;
  }

  .introText:first-of-type {
    padding-top: 25px;
  }
}

@media screen and (max-width: 900px) {
  header {
    h1 {
      font-size: 4vw;
    }

    margin-bottom: 10vh;
  }

  hr {
    margin: 100px auto 4vh auto;
  }

  .introduction {
    p {
      font-size: 2.5vh;
      line-height: 4vh;
    }
  }
}
