$base-color: #15152efd;
$neon-blue:rgb(0, 217, 255);
$button-off: rgba(0, 99, 116, 0.788);

aside {
  background-image: linear-gradient(90deg, rgb(15, 43, 70) 0%, rgba(43,43,43,1) 80%, rgba(43,43,43,1) 100%);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  
  ul {
    list-style-type: none;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;

    li:first-of-type {
      padding-top: 25px;
    }

    li {
      padding-bottom: 25px;

      button {
        width: 200px;
        height: 50px;
        background-color: transparent;
        border: none;
        border-radius: 25px;
        box-shadow: inset 0px 0px 3px 2px $button-off, 0px 0px 3px 2px $button-off;
        color: white;
      }

      button:hover {
        box-shadow: inset 0px 0px 5px 2px $neon-blue, 0px 0px 5px 2px $neon-blue;
      }

      button:focus {
        box-shadow: inset 0px 0px 5px 2px $neon-blue, 0px 0px 5px 2px $neon-blue;
        outline: none;
      }

      button:active {
        outline: none;
      }

      .activeBtn {
        box-shadow: inset 0px 0px 5px 2px $neon-blue, 0px 0px 5px 2px $neon-blue;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  aside {
    background: linear-gradient(180deg, rgba(15,43,70,1) 0%, rgba(43,43,43,1) 64%, rgba(43,43,43,1) 100%);
  } 
}