$main-color: #2b2b2b;
$neon-blue:rgb(0, 217, 255);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
}

.App {
  width: 1000px;
  height: 90vh;
  background-color: $main-color;
  margin: 25px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px black;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

main {
  background-color: $main-color;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  width: 0px;
}

main::-webkit-scrollbar-track {
  background: transparent;
  display: block;
  margin: 10px 0px 10px 0px;
  border-radius: 0px 20px 20px 0px;
}

main::-webkit-scrollbar-thumb {
  background: rgba(168, 63, 160, 0.904);
  width: 5px;
  border-radius: 4px;
}

main::-webkit-scrollbar-button {
  height: 0px;
}

hr {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 25px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 5px 2px $neon-blue;
}

/* on page load animation */
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 700ms ease-out;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-out;
}